# Quetion1

The value of variable "a" is initially set to 0, which is the global variable "a". The function "c(a)" is invoked, passing the current value of "a" (which is 0) as an argument. Inside the function "c(a)", the value of "a" is increased by 2, resulting in 2. The function then returns the value 2. After that, the global variable "a" is updated to 2.

When the function "b()" is called for the second time, the value of variable "a" is set again to the updated global variable "a" (which is 2). The function "c(a)" is invoked, passing the value of "a" (which is 2) as an argument. Inside "c(a)", the value of "a" is incremented by 2, resulting in 4. The function returns the value 4, and the global variable "a" is updated to 4.

For the third call to "b()", the variable "a" is set to the current value of the global variable "a" (which is 4). The function "c(a)" is called, passing the value of "a" (which is 4) as an argument. Inside "c(a)", the value of "a" is incremented by 2, resulting in 6. The function returns the value 6, and the global variable "a" is updated to 6.

Ultimately, when the value of "a" is evaluated, it will display the value of the global variable "a", which is 6. Therefore, the output displayed when "a" is evaluated is 6.

# Question 2

In [2]:
def fileLength(filename):
    try:
        infile = open(filename)
        contents = infile.read()
        infile.close()
        return len(contents)
    except FileNotFoundError:
        print(f" File {filename} not found.")
fileLength('midterm.py')
fileLength('idterm.py')

File midterm.py not found.
File idterm.py not found.

# Question3

In [1]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


# Example usage
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())
# Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
print(k)
# Output: I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
# Output: ['doll', 'firetruck', 'kitten']

k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)
# Output: I am a Kangaroo located at coordinates (3,0)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

In [ ]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
collatz(0)
collatz(1)
collatz(10)

# Question 5

In [8]:
def binary(n):
    if n == 0:
        return
    binary(n // 2)
    print(n % 2, end="")
binary(0)
binary(1)
binary(3)
binary(9)

1111001

# Quetion 6

In [13]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.indentation = int(tag[1]) - 1

    def handle_endtag(self, tag):
        if tag.startswith('h') and len(tag) == 2 and tag[1].isdigit():
            self.indentation = 0

    def handle_data(self, data):
        heading = data.strip()
        if heading:
            self.headings.append((' ' * self.indentation) + heading)

    def print_headings(self):
        for heading in self.headings:
            print(heading)

# Test usage
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

Change_me
W3C Mission
 Principles

# Question 7

In [11]:

import requests

def webdir(url, depth, indent):
    print(' ' * indent + url)
    if depth == 0:
        return
    try:
        response = requests.get(url)
        if response.status_code == 200:
            content = response.text
            links = extract_links(content)
            for link in links:
                webdir(link, depth - 1, indent + 1)
    except requests.exceptions.RequestException:
        return

def extract_links(content):
    # Extract links from the content of a web page
    # You can use a library like BeautifulSoup for more robust link extraction
    # This is a simple example using regular expressions
    import re
    pattern = r'<a href="(.*?)">'
    return re.findall(pattern, content)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8

In [8]:
import sqlite3

# Connect to or create a new SQLite database file
conn = sqlite3.connect('my_database.db')

# Create a cursor object to execute SQL queries
cur = conn.cursor()


                )''')
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Mumbai','India','Winter',24.8,5.9))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Mumbai','India','Spring',28.4,16.2))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Mumbai','India','Summer',27.9,1549.4))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Mumbai','India','Fall',27.6,346.0))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('London','United Kingdom','Winter',4.2,207.7))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('London','United Kingdom','Spring',8.3,169.6))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('London','United Kingdom','Summer',15.7,157.0))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('London','United Kingdom','Fall',10.4,218.5))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Cairo','Egypt','Winter',13.6,16.5))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Cairo','Egypt','Spring',20.7,6.5))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Cairo','Egypt','Summer',27.7,0.1))
cur.execute("INSERT INTO Climate_data (City,Country,Season,Temperature,Rainfall) VALUES (?, ?,? ,?,?)", ('Cairo','Egypt','Fall',22.2,4.5))

# Commit the changes and close the connection
conn.commit()
conn.close()

In [9]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_database.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# a) All the temperature data.
cursor.execute("SELECT Temperature FROM climate_data")
temperature_data = cursor.fetchall()
print("(a).Temperature Data:")
for temperature in temperature_data:
    print(temperature[0])

# b) All the cities, but without repetition.
cursor.execute("SELECT DISTINCT City FROM climate_data ")
cities = cursor.fetchall()
print("(b).Cities:")
for city in cities:
    print(city[0])

# c) All the records for India.
cursor.execute("SELECT * FROM climate_data WHERE Country = 'India'")
india_records = cursor.fetchall()
print("(c).Records for India:")
for record in india_records:
    print(record)

# d) All the Fall records.
cursor.execute("SELECT * FROM climate_data WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("(d).Fall Records:")
for record in fall_records:
    print(record)

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute("SELECT City, Country, Season FROM climate_data GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
average_rainfall_records = cursor.fetchall()
print("(e).Records with average rainfall between 200 and 400 mm:")
for record in average_rainfall_records:
    print(record)

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute("SELECT City, Country FROM climate_data WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC")
average_fall_temp_records = cursor.fetchall()
print("(f).Records with average Fall temperature above 20 degrees:")
for record in average_fall_temp_records:
    print(record)

# g) The total annual rainfall for Cairo.
cursor.execute("SELECT SUM(Rainfall) AS Total_Rainfall FROM climate_data WHERE City = 'Cairo'")
total_rainfall_cairo = cursor.fetchone()
print("(g).Total annual rainfall for Cairo:", total_rainfall_cairo[0])

# h) The total rainfall for each season.
cursor.execute("SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM climate_data GROUP BY Season")
total_rainfall_seasons = cursor.fetchall()
print("(h).Total rainfall for each season:")
for season in total_rainfall_seasons:
    print(season[0], season[1])

# Close the cursor and the connection
cursor.close()
conn.close()

(a).Temperature Data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2
(b).Cities:
Mumbai
London
Cairo
(c).Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
(d).Fall Records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
(e).Records with average rainfall between 200 and 400 mm:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')
(f).Records with average Fall temperature above 20 degrees:
('Cairo', 'Egypt')
('Mumbai', 'India')
(g).Total annual rainfall for Cairo: 55.2
(h).Total rainfall for each season:
Fall 1138.0
Spring 384.59999999999997
Summer 3413.0
Winter 460.2

# Question 9

In [17]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words_upper = [word.upper() for word in words]
print(words_upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [18]:
words_lower = [word.lower() for word in words]
print(words_lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [19]:
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [20]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_info)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [21]:
words_4_or_more = [word for word in words if len(word) >= 4]
print(words_4_or_more )

['quick', 'brown', 'jumps', 'over', 'lazy']